.list-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  flex: 1;

  &__actions {
    margin-bottom: 20px;
  }

  &__actions-bottom {
    margin-top: 20px;
  }

  &__action {
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;

    &:hover {
      color: $themePrimary;
    }

    &--delete {
      &:hover {
        color: $error;
      }
    }
  }

  &__delete-list {
    span {
      margin-right: 5px;
    }
  }
}

.list-container-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  padding: 20px 40px;

  & > div {
    display: flex;
    flex-direction: column;
  }
}
