$topBarHeight: 68px;

$themePrimary: #0078d4;
$themeLighterAlt: #f3f9fd;
$themeLighter: #d0e7f8;
$themeLight: #a9d3f2;
$themeTertiary: #5ca9e5;
$themeSecondary: #1a86d9;
$themeDarkAlt: #006cbe;
$themeDark: #005ba1;
$themeDarker: #004377;
$neutralLighterAlt: #f8f8f8;
$neutralLighter: #f4f4f4;
$neutralLight: #eaeaea;
$neutralQuaternaryAlt: #dadada;
$neutralQuaternary: #d0d0d0;
$neutralTertiaryAlt: #c8c8c8;
$neutralTertiary: #b4b4b4;
$neutralSecondary: #9b9b9b;
$neutralPrimaryAlt: #838383;
$neutralPrimary: #212121;
$neutralDark: #525252;
$black: #3a3a3a;
$white: #ffffff;

$warning: #ca5010;
$error: #a4262c;
